__pycache__/
*.pyc
static/uploads/*
!static/uploads/.gitkeep
tunnel_log.txt
tunnel_out.txt
tunnel_fixed.txt
tunnel_permanent.txt
tunnel_ping.txt
tunnel_reset.txt
tunnel_force.txt
id_rsa
id_rsa.pub
.git/
.venv/
venv/
env/
.env
.ipynb_checkpoints
.DS_Store
*.log
